@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
        url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)
            format("opentype");
}

body {
    font-family: Comfortaa;
}

.instructionTab {
    width: 700px;
}
.steamLink {
    color: inherit;
    margin-top: 22px;
    margin-left: 5px;
}
.gameTitle {
}
.titleRow {
    flex-direction: row;
    display: flex;
    width: 700px;
    position: relative;
}
.showButton {
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin-top: 50px;
}
