.myFooter {
    position: relative;
    width: 60%;
    background: #353131;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    flex-direction: row;
    color: #f8f8f3;
}

.socialIcon {
    list-style: none;
    color: inherit;
    margin: 5px;
}
.iconsRow {
    padding-inline-start: 0;
}
.aboutMeRow {
    padding-inline-start: 5px;
    margin-top: 10px;
}

.aboutMeItems {
    list-style: "- ";
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.footerTitle {
    font-weight: bold;
    margin-bottom: 10px;
}
