@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
        url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)
            format("opentype");
}

.base {
    outline: solid gray;
    width: 700px;
    padding: 5px;
}
.bonusCard {
    width: 50px;
    height: 85px;
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: white;
    border: solid black;
    float: left;
}
.board {
    height: 600px;
    overflow: hidden;
    background-color: #015032;
    border-radius: 1%;
    padding: 30px;
    padding-bottom: 0px;
}
.card {
    width: 50px;
    height: 85px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    float: left;
    border: solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cardHolder {
    float: left;
    width: 60px;
    height: 100%;
    margin-right: 20px;
}
.emptyBonus {
    width: 50px;
    height: 85px;
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: grey;
    border: dotted black;
    float: left;
}
.emptyCard {
    width: 50px;
    height: 85px;
    margin: 5px;
    border-radius: 5px;
    background-color: grey;
    border: dotted black;
    float: left;
}
.extraHolder {
    float: left;
    width: 100%;
}

.fakeCard {
    width: 50px;
    height: 85px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 85px;
    background-color: white;
    border: solid red;
    float: left;
    filter: contrast(60%);
}

.finalHolder {
    width: 50px;
    height: 85px;
    margin: 5px;
    border-radius: 5px;
    background-color: gray;
    border: dotted black;
    float: left;
}

.mainHolder {
    float: left;
    width: 100%;
    max-height: 60%;
}

.movingCard {
    width: 50px;
    height: 85px;
    border-radius: 5px;
    background-color: white;
}

.specialButton {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
}
.specialButtons {
    float: left;
    margin-left: 20px;
    width: 20px;
    height: 85px;
}

.cardImg {
    border-radius: 3px;
    pointer-events: none;
}

.movingCardImg {
    border-radius: 5px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    border: black solid;
}

.resetButton {
    margin-top: 5px;
    font-family: Comfortaa;
}

.winCount {
    font-weight: 900;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 7px;
    font-family: Comfortaa;
}

.utilityBar {
    grid-row: span;
    position: relative;
}
